<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Final project</title>
    <link href="/style.css" rel="stylesheet">
    <style>
      html, body {
      height: 100%;  
    background-image: linear-gradient(rgb(248, 222, 179), rgb(138, 228, 198));
    }
    </style>
  </head>
  <body>
    <main>
      <div>
        <p class="text-3xl font-bold underline">testing</p>
        <form>
          <input/>
        </form>
      </div>
    </main>
  </body>
</html>